
.welcome-container {
    max-width: 100%;
    margin-top: 10%;
    
}

.center {
    display: flex;
    justify-content: center;
}

.quiz-link-btn {   
    font-size: 30px;
    color: black;
    text-decoration: none !important;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.quiz-card {
  margin: 20px;
}

.Heading {
  width: 100%;
  
}

.Heading .text {
  text-align: center;
  
}

