
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="home.component.css">
    <title>Document</title>
  </head>
  <body>
    <div class="welcome-container">
    <div class="Heading">
      <h1 class="text">What do you know about...</h1>
      <h1 class="text">Choose your favourite quiz!</h1>
    </div>
  
   
  <div class="flex-container" fxLayout="row">
    <div class="quiz-card">
      <a class="img-link">
        <img div-image src="assets/images/maths.png" alt="picture of math elements">
      </a>
      <div class="center">
        <a color="primary" class="btn quiz-link-btn">Maths</a>
      </div>
    </div>
    <div class="quiz-card">
      <a class="img-link">
        <img  src="assets/images/egyptians.png" alt="picture of egyptians">
      </a>
      <div class="center">
        <a color="primary" class="btn quiz-link-btn">Egyptians</a>
      </div>
    </div>
    <div class="quiz-card">
      <a class="img-link">
        <img  src="assets/images/island.png" alt="picture of islands">
      </a>
      <div class="center">
        <a routerLink="/islands" color="primary" class="btn quiz-link-btn">Islands</a>
      </div>
    </div>
    <div class="quiz-card">
      <a routerLink="/spices" class="img-link">
        <img  src="assets/images/spices.png" alt="picture of spices">
      </a>
      <div class="center">
        <a routerLink="/spices" color="primary" class="btn quiz-link-btn">Spices</a>
      </div>
    </div>

  </div>
</div>

  </body>
  </html>
    
